body {
    font-size: 1vw;
    font-family: $regular_font;
    color: $oxford_blue;
    -webkit-font-smoothing: antialiased;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: $bold_font;
    &.h_center {
        text-align: center;
    }
}
.h1 {
    font-size: 2vw;
    margin-block-start: 1vw;
    margin-block-end: 1vw;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
.h2 {
    font-size: 1.5vw;
    margin-block-start: 1vw;
    margin-block-end: 1vw;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    &.h2_h1-style {
        font-size: 2vw;
    }
}