/*Colors*/
$regular_white: #FFFFFF;
$regular_black: #333333;
$seashell_gray: #F1F1F1;
$athens_gray: #E8E9EB;
$boulder_gray: #767676;
$shuttle_gray: #888E9A;
$picton_blue: #59B2E9;
$deep_picton_blue: #3294D1;
$oxford_blue: #353B50;


/*Fonts*/

/* Shadows & Borders */


