/*Colors*/
$regular_white: #FFFFFF;
$regular_black: #333333;
$oxford_blue: #353B50;
$shuttle_gray: #5d6372;
$picton_blue: #59B2E9;
$deep_picton_blue: #3294D1;
$seashell_gray: #F1F1F1;


/*Fonts*/

/* Shadows & Borders */


