/*Colors*/
$white_color: #FFFFFF;
$black_color: #333333;
$deep_blue: #30688E;
$deep_blue_hover: #1d4f70;
$dark_blue: #114161;
$darkest_blue: #062435;
$deep_red: #fe000e;
$light_gray: #F8F8F8;
$soft_gray: #d4d4d4;
$normal_gray: #9A9A9A;
$deep_gray: #656565;
$dark_gray: #3E3E3E;


/*Fonts*/


/* Shadows & Borders */

