/* Fonts */

    @font-face {
    font-family: 'Source Sans Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Regular'), url('../webfonts/SourceSansPro-Regular.ttf') format('woff');
    }
    
    @font-face {
    font-family: 'Source Sans Pro Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Source Sans Pro Italic'), url('../webfonts/SourceSansPro-Italic.ttf') format('woff');
    }
    
    @font-face {
    font-family: 'Source Sans Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Source Sans Pro Light'), url('../webfonts/SourceSansPro-Light.ttf') format('woff');
    }
    
    
    @font-face {
    font-family: 'Source Sans Pro SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Source Sans Pro SemiBold'), url('../webfonts/SourceSansPro-SemiBold.ttf') format('woff');
    }
    
    
    @font-face {
    font-family: 'Source Sans Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Source Sans Pro Bold'), url('../webfonts/SourceSansPro-Bold.ttf') format('woff');
    }
  