/* ! important a_Imports */
/*Colors*/
/*Fonts*/
/* Shadows & Borders */

.container.container__search-event_active-background {
        background-image: url(../images/background/top_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

.container.container__subscribe_active-background {
        background-image: url(../images/background/subscribe_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
.divider.divider_double {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        grid-template-areas: "divider__first-half divider__second-half";
        grid-gap: 1vw;
        -webkit-margin-before: 3vw;
        margin-top: 3vw;
        -webkit-margin-after: 3vw;
        margin-bottom: 3vw;
    }
.divider.divider_double .divider__first-half { grid-area: divider__first-half; }
.divider.divider_double .divider__second-half { grid-area: divider__second-half; }
.divider .divider__first-half,
    .divider .divider__second-half {
        border-bottom: 1px solid #E8E9EB; 
    }
.footer {
    display: grid;
    -webkit-margin-before: 3vw;
    margin-top: 3vw;
}
.footer .footer__top {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
.footer .footer__top .footer__top__socials {
            display: grid;
            grid-template-rows: initial;
            grid-template-columns: auto auto auto;
            grid-template-areas: initial;
            grid-auto-flow: row;
            grid-auto-rows: initial;
            grid-auto-columns: initial;
            justify-content: start;
            grid-gap: 1vw;
        }
.footer .footer__top .footer__top__socials .social__link {
                font-size: 2.5vw;
            }
.footer .footer__bottom {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
.footer .footer__bottom .footer__bottom__navigation .footer__bottom__navigation__links {
                display: grid;
                grid-template-rows: initial;
                grid-template-columns: auto auto auto;
                grid-template-areas: initial;
                grid-auto-flow: row;
                grid-auto-rows: initial;
                grid-auto-columns: initial;
                justify-content: start;
                grid-gap: 1vw;
            }
.footer .footer__bottom .footer__bottom__copyright {
            display: grid;
            justify-content: end;
        }
.form .form__title.form__title_index {
            -webkit-margin-after: 1.5vw;
            margin-bottom: 1.5vw;
        }
.form .form__title.form__title_index .h1 {
                -webkit-margin-after: .5vw;
                margin-bottom: .5vw;
            }
.form .form__title.form__title_index .h4 {
                -webkit-margin-before: .5vw;
                margin-top: .5vw;
            }
.form .form__field {
        -webkit-margin-after: .5vw;
        margin-bottom: .5vw;
        display: grid;
        grid-gap: .5vw;
    }
.form .form__field .label {
            font-size: 1vw;
        }
.form .form__input.form__input_with-left-icon {
            position: relative;
            font-weight: 400;
            font-style: normal;
            display: -ms-inline-flexbox;
            display: inline-grid;
            color: #767676;
        }
.form .form__input.form__input_with-left-icon .input {
                padding-left: 2.5vw;
                padding-right: 1vw;
            }
.form .form__input.form__input_with-left-icon .fa,
            .form .form__input.form__input_with-left-icon .fab {
                pointer-events: none;
                cursor: default;
                position: absolute;
                line-height: 1vw;
                text-align: center;
                top: 0;
                margin: 0;
                height: 100%;
                width: 2.5vw;
                opacity: .5;
                border-radius: 0 .28vw .28vw 0;
                transition: opacity .3s ease
            }
.form .form__input.form__input_with-left-icon .fa::before, .form .form__input.form__input_with-left-icon .fab::before {
                    left: 0;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    width: 100%;
                    margin-top: -.5vw;
                }
.form .form__input.form__input_with-right-icon {
            position: relative;
            font-weight: 400;
            font-style: normal;
            display: -ms-inline-flexbox;
            display: inline-grid;
            color: #767676;
        }
.form .form__input.form__input_with-right-icon .input,
            .form .form__input.form__input_with-right-icon .select {
                padding-left: 1vw;
                padding-right: 2.5vw;
            }
.form .form__input.form__input_with-right-icon .fa,
            .form .form__input.form__input_with-right-icon .fab {
                pointer-events: none;
                cursor: default;
                position: absolute;
                line-height: 1vw;
                text-align: center;
                top: 0;
                margin: 0;
                height: 100%;
                width: 2.5vw;
                opacity: .5;
                border-radius: 0 .28vw .28vw 0;
                transition: opacity .3s ease
            }
.form .form__input.form__input_with-right-icon .fa::before, .form .form__input.form__input_with-right-icon .fab::before {
                    right: 0;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    width: 100%;
                    margin-top: -.5vw;
                }
.form .form__input.form__input_with-dropdown-icon {
            position: relative;
            font-weight: 400;
            font-style: normal;
            display: -ms-inline-flexbox;
            display: inline-grid;
            color: #767676;
        }
.form .form__input.form__input_with-dropdown-icon .input,
            .form .form__input.form__input_with-dropdown-icon .select {
                padding-left: 2.5vw;
                padding-right: 1vw;
            }
.form .form__input.form__input_with-dropdown-icon i.fa-caret-down {
                pointer-events: none;
                cursor: default;
                position: absolute;
                line-height: 1vw;
                text-align: center;
                top: 0;
                right: 0;
                margin: 0;
                height: 100%;
                width: 2.5vw;
                opacity: .5;
                border-radius: 0 .28vw .28vw 0;
                transition: opacity .3s ease
            }
.form .form__input.form__input_with-dropdown-icon i.fa-caret-down::before {
                    right: 0;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    width: 100%;
                    margin-top: -.5vw;
                }
.form .form__input.form__input_with-checkbox {
            display: inline-block;
            white-space: nowrap;
        }
.form .form__input.form__input_with-checkbox .label {
                display: block;
                position: relative;
                padding-left: 2.2vw;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
.form .form__input.form__input_with-checkbox .label .input__checkbox {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0
                }
.form .form__input.form__input_with-checkbox .label .input__checkbox:checked ~ .input__checkbox_checkmark {
                        background-color: #59B2E9;
                        box-shadow: none;
                    }
.form .form__input.form__input_with-checkbox .label .input__checkbox:checked ~ .input__checkbox_checkmark:after {
                        display: block;
                    }
.form .form__input.form__input_with-checkbox .label .input__checkbox_checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 18px;
                    width: 18px;
                    border-radius: 4px;
                    box-shadow: inset 0px 0px 5px -1px rgba(116,116,166, 0.14);
                    border: 1px solid;
                    border-color: rgba(53, 59, 80, 0.1);
                    background-color: rgba(241, 241, 241, 0.21)
                }
.form .form__input.form__input_with-checkbox .label .input__checkbox_checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                        top: 50%;
                        left: 50%;
                        margin-top: -6px;
                        margin-left: -3px;
                        width: 4px;
                        height: 8px;
                        border: solid #FFFFFF;
                        border-width: 0 2.2px 2.2px 0;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
.form .form__input.form__input_with-checkbox .label:hover input ~ .input__checkbox_checkmark,
                .form .form__input.form__input_with-checkbox .label:focus input ~ .input__checkbox_checkmark {
                  border: 1px solid #59B2E9;
                }
.form .form__input.form__input_with-radio.form__input_with-radio_inline {
                display: flex;
            }
.form .form__input.form__input_with-radio.form__input_with-radio_inline .label {
                    margin-right: 2vw;
                }
.form .form__input.form__input_with-radio .label {
                display: block;
                position: relative;
                padding-left: 2.2vw;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
.form .form__input.form__input_with-radio .label .input__radio {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer
                }
.form .form__input.form__input_with-radio .label .input__radio:checked ~ .input__radio_checkmark {
                        background-color: #FFFFFF;
                        box-shadow: none;
                        border: 1px solid #59B2E9;
                    }
.form .form__input.form__input_with-radio .label .input__radio:checked ~ .input__radio_checkmark:after {
                        display: block;
                    }
.form .form__input.form__input_with-radio .label .input__radio_checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 18px;
                    width: 18px;
                    box-shadow: inset 0px 0px 5px -1px rgba(116,116,166, 0.14);
                    border: 1px solid;
                    border-color: rgba(53, 59, 80, 0.1);
                    background-color: rgba(241, 241, 241, 0.21);
                    border-radius: 50%
                }
.form .form__input.form__input_with-radio .label .input__radio_checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                        top: 50%;
                        left: 50%;
                        margin-top: -7px;
                        margin-left: -7px;
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        box-shadow: 0px 0px 5px -1px rgba(116,116,166, 0.14);
                        background: #59B2E9;
                    }
.form .form__input.form__input_with-radio .label:hover input ~ .input__radio_checkmark,
                .form .form__input.form__input_with-radio .label:focus input ~ .input__radio_checkmark {
                  border: 1px solid #59B2E9;
                }
.form .form__select.form__select_with-dropdown-icon {
            position: relative;
            font-weight: 400;
            font-style: normal;
            display: -ms-inline-flexbox;
            display: inline-grid;
        }
.form .form__select.form__select_with-dropdown-icon .input,
            .form .form__select.form__select_with-dropdown-icon .select {
                padding-right: 1vw;
                color: #767676;
            }
.form .form__select.form__select_with-dropdown-icon i.fa-caret-down {
                pointer-events: none;
                cursor: default;
                position: absolute;
                line-height: 1vw;
                text-align: center;
                top: 0;
                right: 0;
                margin: 0;
                height: 100%;
                width: 2.5vw;
                opacity: .5;
                border-radius: 0 .28vw .28vw 0;
                transition: opacity .3s ease
            }
.form .form__select.form__select_with-dropdown-icon i.fa-caret-down::before {
                    right: 0;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    width: 100%;
                    margin-top: -.5vw;
                }
.form .form__button {
        border: none;
        border-radius: 3px;
        font-family: 'Source Sans Pro SemiBold', Helvetica, Arial, sans-serif
    }
.form .form__button.form__button_block {
            display: block;
            width: 100%;
        }
.form .form__button.form__button_big {
            padding: .9vw;
            font-size: 110%;
        }
.form .form__button.form__button_blue {
            background-color: #59B2E9;
            color: #FFFFFF 
        }
.form .form__button.form__button_blue:hover {
                background-color: #3294D1;
            }

.input,
.select {
    font-size: .9vw;
    font-family: 'Source Sans Pro Regular', Helvetica, Arial, sans-serif;
    background-color: rgba(241, 241, 241, 0.21);
    border: 1px solid;
    border-color: rgba(53, 59, 80, 0.1);
    border-radius: 3px;
    padding: 1vw;
    margin: 0;
    max-width: 100%;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.2vw;
    color: #333333;
    transition: box-shadow .1s ease,border-color .1s ease
}

.input.input__date, .select.input__date {
        color: #767676;
        cursor: default
    }

.input.input__date::-webkit-inner-spin-button, .select.input__date::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none;
        }

.input.input__date::-webkit-calendar-picker-indicator, .select.input__date::-webkit-calendar-picker-indicator {
            cursor: pointer;
            background-color: transparent;
            color:rgba(204,204,204,0)
        }

.input.input__date::-webkit-calendar-picker-indicator:hover, .select.input__date::-webkit-calendar-picker-indicator:hover {
                background-color: transparent;
            }

.input.input__checkbox, .select.input__checkbox {
        cursor: pointer;
        outline: 0;
        z-index: 3;
        width: 17px;
        height: 17px;
        overflow: visible;
    }
.input {
    height: 1vw;
}
.select {
    cursor: pointer;
    height: 3.2vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ''
}
.select::-ms-expand {
        display: none;
    }
.label.hidden {
        visibility: hidden;
    }

.form__search-event_full {
    width: 32vw;
}

.form__search-event_full .form .form__body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr .1fr .7fr;
            grid-template-areas: "form__field__city form__field__city" "form__field__from form__field__to" "form__field__radio form__field__radio" "form__field__send form__field__send";
            grid-gap: 1vw;
        }

.form__search-event_full .form .form__body .form__field__city { grid-area: form__field__city; }

.form__search-event_full .form .form__body .form__field__from { grid-area: form__field__from; -webkit-margin-after: .3vw; margin-bottom: .3vw;}

.form__search-event_full .form .form__body .form__field__to { grid-area: form__field__to; -webkit-margin-after: .3vw; margin-bottom: .3vw;}

.form__search-event_full .form .form__body .form__field__radio { grid-area: form__field__radio; }

.form__search-event_full .form .form__body .form__field__send { grid-area: form__field__send; }
.form__subscribe {
    width: 62vw;
}
.form__subscribe .form .form__body {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "form__field__city form__field__email form__field__subscribe";
            grid-gap: 1vw;
        }
.form__subscribe .form .form__body .form__field__city { grid-area: form__field__city; }
.form__subscribe .form .form__body .form__field__email { grid-area: form__field__email; }
.form__subscribe .form .form__body .form__field__subscribe { grid-area: form__field__subscribe; }
.form__footer_settings .form .form__body {
            display: grid;
            grid-template-columns: 8vw 8vw;
            grid-template-rows: 1fr;
            grid-template-areas: "form__field__language form__field__currency";
            grid-gap: 1vw;
            justify-content: end;
        }
.form__footer_settings .form .form__body .form__field__language { grid-area: form__field__language; }
.form__footer_settings .form .form__body .form__field__currency { grid-area: form__field__currency; }
.form__footer_settings .form .select {
            padding-left: 1vw;
        }
.header .header__logo {
        width: 9vw
    }
.header .header__logo:hover {
            opacity: .8;
        }
.header .header__logo a {
            display: block;
        }
.header .header__top {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        align-content: center;
        justify-content: end;
        place-content: center end;
    }
.fa,
.fab {
    color: #333333;
    margin-right: .5vw
}
.fa.right, .fab.right {
        margin-left: .5vw;
    }
.item.item__city .item__city__img {
            border-radius: 8px;
            box-shadow: inset 0px 1px 33px 0px rgba(0,0,0, 0.3);
            position: relative;
            -webkit-margin-after: .5vw;
            margin-bottom: .5vw;
        }
.item.item__city .item__city__img img {
                width: 100%;
                display: block;
            }
.item.item__city .item__city__img::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 8px;
                box-shadow: inset 0px 1px 33px 0px rgba(0,0,0, 0.3);
            }
.item.item__city .item__city__title {
            font-family: 'Source Sans Pro SemiBold', Helvetica, Arial, sans-serif;
            color: #353B50;
        }
.item.item__city .item__city__events {
            color: #59B2E9;
        }
.item.item__city:hover .item__city__img::after {
                    box-shadow: none;
                }
.item.item__city:hover .item__city__title:hover {
                    color: #888E9A;
                }
.item.item__city:hover .item__city__events:hover {
                    color: #3294D1;
                }
.item.item__event .item__event__img {
            border-radius: 8px;
            box-shadow: inset 0px 1px 33px 0px rgba(0,0,0, 0.3);
            position: relative;
            -webkit-margin-after: .5vw;
            margin-bottom: .5vw;
        }
.item.item__event .item__event__img img {
                width: 100%;
                display: block;
            }
.item.item__event .item__event__img::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 8px;
                box-shadow: inset 0px 1px 33px 0px rgba(0,0,0, 0.3);
            }
.item.item__event .item__event__img .item__event__price {
                position: absolute;
                z-index: 2;
                left: .5vw;
                bottom: .5vw;
                background: rgba(53, 59, 80, 0.7);
                border-radius: 8px;
                color: #FFFFFF;
                font-family: 'Source Sans Pro SemiBold', Helvetica, Arial, sans-serif;
                font-size: 150%;
                text-shadow: 1px 1px 4px #272727;
                padding: .5vw 1vw;
                display: flex;
                flex-wrap: nowrap;
            }
.item.item__event .item__event__img .item__event__price > span {
                    margin-right: .5vw
                }
.item.item__event .item__event__img .item__event__price > span:last-child{
                        margin-right: 0;
                    }
.item.item__event .item__event__description .item__event__info {
                display: flex;
            }
.item.item__event .item__event__description .item__event__info > span {
                    margin-right: .5vw;
                    white-space: nowrap
                }
.item.item__event .item__event__description .item__event__info > span:last-child{
                        margin-right: 0;
                        color: #767676;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
.item.item__event .item__event__description .item__event__title {
                color: #353B50;
                font-family: 'Source Sans Pro SemiBold', Helvetica, Arial, sans-serif;
                font-size: 140%;
                margin: .3vw 0;
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis
            }
.item.item__event .item__event__description .item__event__title:hover {
                    color: #3294D1;
                }
.item.item__event .item__event__description .item__event__rate > span {
                    color: #59B2E9;
                    font-family: 'Source Sans Pro SemiBold', Helvetica, Arial, sans-serif;
                    margin-right: .5vw;
                    font-size: 110%;
                    vertical-align: middle;
                    white-space: nowrap
                }
.item.item__event .item__event__description .item__event__rate > span.item__event__rate-reviews {
                        font-family: 'Source Sans Pro Light', Helvetica, Arial, sans-serif;
                        color: #767676;
                        margin-right: 0;
                    }
.item.item__event .item__event__description .item__event__rate .item__event__rate-stars {
                    font-size: 75%;
                    margin-right: 1vw;
                    white-space: nowrap;
                }
.item.item__event .item__event__description .item__event__rate .item__event__rate-stars .fa {
                        color: #59B2E9;
                        margin-right: .3vw;
                        vertical-align: inherit;
                    }
.item.item__event:hover .item__event__img::after {
                    box-shadow: none;
                }
body {
    margin: 0;
}
.container .container__inner {
        padding: 1vw 4vw;
    }
.container .container__inner .container__search-event {
            display: grid;
            grid-template-rows: initial;
            grid-template-columns: auto;
            grid-template-areas: initial;
            grid-auto-flow: row;
            grid-auto-rows: initial;
            grid-auto-columns: initial;
            justify-content: center;
            padding: 6vw 0px 26vw;
        }
.container .container__inner .container__cities-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
            grid-gap: 2vw;
            -webkit-margin-before: 3vw;
            margin-top: 3vw;
            -webkit-margin-after: 3vw;
            margin-bottom: 3vw;
        }
.container .container__inner .container__events-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
            grid-gap: 2vw;
            -webkit-margin-before: 3vw;
            margin-top: 3vw;
            -webkit-margin-after: 3vw;
            margin-bottom: 3vw;
        }
.container .container__inner .container__subscribe {
            display: grid;
            grid-template-rows: initial;
            grid-template-columns: auto;
            grid-template-areas: initial;
            grid-auto-flow: row;
            grid-auto-rows: initial;
            grid-auto-columns: initial;
            justify-content: center;
            padding: 6vw 0px 6vw;
        }
.grid {
    display: grid;
    grid-gap: 1vw;
}
.grid > div {
        padding: .5vw;
    }
a {
    text-decoration: none
}
a.blue {
        color: #59B2E9
    }
a.blue:hover {
            color: #3294D1;
        }
a.dark {
        color: #353B50
    }
a.dark:hover {
            color: #888E9A;
        }
.navigation {
    display: grid;
    justify-content: end;
}
.navigation .navigation__link {
        font-family: 'Source Sans Pro SemiBold', Helvetica, Arial, sans-serif
    }
.navigation .navigation__link:hover {
            color: #353B50;
            opacity: .7;
        }
body {
    font-size: 1vw;
    font-family: 'Source Sans Pro Regular', Helvetica, Arial, sans-serif;
    color: #353B50;
    -webkit-font-smoothing: antialiased;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: 'Source Sans Pro SemiBold', Helvetica, Arial, sans-serif
}

.h1.h_center, .h2.h_center, .h3.h_center, .h4.h_center, .h5.h_center {
        text-align: center;
    }
[dir="ltr"] .h1 {
    margin-left: 0;
}
[dir="rtl"] .h1 {
    margin-right: 0;
}
[dir="ltr"] .h1 {
    margin-right: 0;
}
[dir="rtl"] .h1 {
    margin-left: 0;
}
.h1 {
    font-size: 200%;
    -webkit-margin-before: 1vw;
    margin-top: 1vw;
    -webkit-margin-after: 1vw;
    margin-bottom: 1vw;
    -webkit-margin-start: 0;
    -moz-margin-start: 0;
    -webkit-margin-end: 0;
    -moz-margin-end: 0;
    font-weight: 700;
}
[dir="ltr"] .h2 {
    margin-left: 0;
}
[dir="rtl"] .h2 {
    margin-right: 0;
}
[dir="ltr"] .h2 {
    margin-right: 0;
}
[dir="rtl"] .h2 {
    margin-left: 0;
}
.h2 {
    font-size: 150%;
    -webkit-margin-before: 1vw;
    margin-top: 1vw;
    -webkit-margin-after: 1vw;
    margin-bottom: 1vw;
    -webkit-margin-start: 0;
    -moz-margin-start: 0;
    -webkit-margin-end: 0;
    -moz-margin-end: 0;
    font-weight: 700
}
.h2.h2_h1-style {
        font-size: 200%;
    }

.disabled {
    opacity: .3;
    cursor: default;
}

.disabled > * {
        cursor: default !important
    }

.disabled > *:hover {
            cursor: default !important; 
        }