@media screen and (max-width: 767px) {
    .header {
        margin-block-start: 4vw;
        .header__logo {
            img {
                width: 8rem;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        .header__top {
            grid-template-areas: "header__nav" "header__logo";
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 100%;
            .header__nav {
                grid-area: header__nav;
                margin-block-end: 6vw;
            }
            .header__logo {
                width: 100%;
                grid-area: header__logo;
                a {
                    text-align: center;
                    img {
                        width: 70%;
                    }
                }
            }
        }
    }
} 