.header {
    .header__logo {
        width: 9vw;
        &:hover {
            opacity: .8;
        }
        a {
            display: block;
        }
    }
    .header__top {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        place-content: center end;
    }
}