body {
    margin: 0;
}
.container {
    .container__inner {
        padding: 1vw 4vw;
        .container__search-event {
            display: grid;
            grid-template-rows: initial;
            grid-template-columns: auto;
            grid-template-areas: initial;
            grid-auto-flow: row;
            grid-auto-rows: initial;
            grid-auto-columns: initial;
            justify-content: center;
            padding: 6vw 0px 26vw;
        }
        .container__cities-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
            grid-gap: 2vw;
            margin-block-start: 3vw;
            margin-block-end: 3vw;
        }
        .container__events-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
            grid-gap: 2vw;
            margin-block-start: 3vw;
            margin-block-end: 3vw;
        }
        .container__subscribe {
            display: grid;
            grid-template-rows: initial;
            grid-template-columns: auto;
            grid-template-areas: initial;
            grid-auto-flow: row;
            grid-auto-rows: initial;
            grid-auto-columns: initial;
            justify-content: center;
            padding: 6vw 0px 6vw;
        }
    }
}
.grid {
    display: grid;
    grid-gap: 1vw;
    > div {
        padding: .5vw;
    }
}