/* ! important a_Imports */
@import "variables/variables.scss";

.container {
    &.container__search-event_active-background {
        background-image: url(../images/background/top_bg.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.divider {
    &.divider_double {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        grid-template-areas: "divider__first-half divider__second-half";
        grid-gap: 1vw;
        -webkit-margin-before: 3vw;
        margin-block-start: 3vw;
        -webkit-margin-after: 3vw;
        margin-block-end: 3vw;
        .divider__first-half { grid-area: divider__first-half; }
        .divider__second-half { grid-area: divider__second-half; }
    }
    .divider__first-half,
    .divider__second-half {
        border-bottom: 1px solid $athens_gray; 
    }
}
.footer {
    display: grid;
    .footer__top {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        .footer__top__socials {
            display: grid;
            grid-template-rows: initial;
            grid-template-columns: auto auto auto;
            grid-template-areas: initial;
            grid-auto-flow: row;
            grid-auto-rows: initial;
            grid-auto-columns: initial;
            -webkit-box-pack: start;
            -webkit-justify-content: start;
            -moz-box-pack: start;
            -ms-flex-pack: start;
            justify-content: start;
            grid-gap: 1vw;
            .social__link {
                font-size: 2.5vw;
            }
        }
    }
    .footer__bottom {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        .footer__bottom__navigation {
            .footer__bottom__navigation__links {
                display: grid;
                grid-template-rows: initial;
                grid-template-columns: auto auto auto;
                grid-template-areas: initial;
                grid-auto-flow: row;
                grid-auto-rows: initial;
                grid-auto-columns: initial;
                -webkit-box-pack: start;
                -webkit-justify-content: start;
                -moz-box-pack: start;
                -ms-flex-pack: start;
                justify-content: start;
                grid-gap: 1vw;
            }
        }
        .footer__bottom__copyright {
            display: grid;
            -webkit-box-pack: end;
            -webkit-justify-content: end;
            -moz-box-pack: end;
            -ms-flex-pack: end;
            justify-content: end;
        }
    }
}
.form {
    .form__title {
        &.form__title_index {
            -webkit-margin-after: 1.5vw;
            margin-block-end: 1.5vw;
            .h1 {
                -webkit-margin-after: .5vw;
                margin-block-end: .5vw;
            }
            .h4 {
                -webkit-margin-before: .5vw;
                margin-block-start: .5vw;
            }
        }
    }
    .form__field {
        -webkit-margin-after: .5vw;
        margin-block-end: .5vw;
        display: grid;
        grid-gap: .5vw;
        .label {
            font-size: .9vw;
        }
    }
    .form__input {
        &.form__input_with-left-icon {
            position: relative;
            font-weight: 400;
            font-style: normal;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-grid;
            color: $boulder_gray;
            .input {
                padding-left: 2.5vw;
                padding-right: 1vw;
            }
            .fa,
            .fab {
                pointer-events: none;
                cursor: default;
                position: absolute;
                line-height: 1vw;
                text-align: center;
                top: 0;
                margin: 0;
                height: 100%;
                width: 2.5vw;
                opacity: .5;
                -webkit-border-radius: 0 .28vw .28vw 0;
                -moz-border-radius: 0 .28vw .28vw 0;
                border-radius: 0 .28vw .28vw 0;
                -webkit-transition: opacity .3s ease;
                -o-transition: opacity .3s ease;
                -moz-transition: opacity .3s ease;
                transition: opacity .3s ease;
                &::before {
                    left: 0;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    width: 100%;
                    margin-top: -.5vw;
                }
            }
        }
        &.form__input_with-right-icon {
            position: relative;
            font-weight: 400;
            font-style: normal;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-grid;
            color: $boulder_gray;
            .input,
            .select {
                padding-left: 1vw;
                padding-right: 2.5vw;
            }
            .fa,
            .fab {
                pointer-events: none;
                cursor: default;
                position: absolute;
                line-height: 1vw;
                text-align: center;
                top: 0;
                margin: 0;
                height: 100%;
                width: 2.5vw;
                opacity: .5;
                -webkit-border-radius: 0 .28vw .28vw 0;
                -moz-border-radius: 0 .28vw .28vw 0;
                border-radius: 0 .28vw .28vw 0;
                -webkit-transition: opacity .3s ease;
                -o-transition: opacity .3s ease;
                -moz-transition: opacity .3s ease;
                transition: opacity .3s ease;
                &::before {
                    right: 0;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    width: 100%;
                    margin-top: -.5vw;
                }
            }
        }
        &.form__input_with-dropdown-icon {
            position: relative;
            font-weight: 400;
            font-style: normal;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-grid;
            color: $boulder_gray;
            .input,
            .select {
                padding-left: 2.5vw;
                padding-right: 1vw;
            }
            i.fa-caret-down {
                pointer-events: none;
                cursor: default;
                position: absolute;
                line-height: 1vw;
                text-align: center;
                top: 0;
                right: 0;
                margin: 0;
                height: 100%;
                width: 2.5vw;
                opacity: .5;
                -webkit-border-radius: 0 .28vw .28vw 0;
                -moz-border-radius: 0 .28vw .28vw 0;
                border-radius: 0 .28vw .28vw 0;
                -webkit-transition: opacity .3s ease;
                -o-transition: opacity .3s ease;
                -moz-transition: opacity .3s ease;
                transition: opacity .3s ease;
                &::before {
                    right: 0;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    width: 100%;
                    margin-top: -.5vw;
                }
            }
        }
        &.form__input_with-checkbox {
            display: inline-block;
            white-space: nowrap;
            .label {
                display: block;
                position: relative;
                padding-left: 2.2vw;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                .input__checkbox {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                    &:checked ~ .input__checkbox_checkmark {
                        background-color: $picton_blue;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                    }
                    &:checked ~ .input__checkbox_checkmark:after {
                        display: block;
                    }
                }
                .input__checkbox_checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 17px;
                    width: 17px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    -webkit-box-shadow: inset 0px 0px 5px -1px rgb(116,116,166, 0.14);
                    -moz-box-shadow: inset 0px 0px 5px -1px rgb(116,116,166, 0.14);
                    box-shadow: inset 0px 0px 5px -1px rgb(116,116,166, 0.14);
                    border: 1px solid;
                    border-color: rgba(53, 59, 80, 0.1);
                    background-color: rgb(241, 241, 241, 0.21);
                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                        left: 5.8px;
                        top: 2.4px;
                        width: 4px;
                        height: 8px;
                        border: solid $regular_white;
                        border-width: 0 2.2px 2.2px 0;
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
                &:hover input ~ .input__checkbox_checkmark,
                &:focus input ~ .input__checkbox_checkmark {
                  border: 1px solid $picton_blue;
                }
            }
        }
        &.form__input_with-radio {
            &.form__input_with-radio_inline {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                .label {
                    margin-right: 2vw;
                }
            }
            .label {
                display: block;
                position: relative;
                padding-left: 2.2vw;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                .input__radio {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    &:checked ~ .input__radio_checkmark {
                        background-color: $regular_white;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        border: 1px solid $picton_blue;
                    }
                    &:checked ~ .input__radio_checkmark:after {
                        display: block;
                    }
                }
                .input__radio_checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 17px;
                    width: 17px;
                    -webkit-box-shadow: inset 0px 0px 5px -1px rgb(116,116,166, 0.14);
                    -moz-box-shadow: inset 0px 0px 5px -1px rgb(116,116,166, 0.14);
                    box-shadow: inset 0px 0px 5px -1px rgb(116,116,166, 0.14);
                    border: 1px solid;
                    border-color: rgba(53, 59, 80, 0.1);
                    background-color: rgb(241, 241, 241, 0.21);
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                        top: 2px;
                        left: 2px;
                        width: 13px;
                        height: 13px;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        -webkit-box-shadow: 0px 0px 5px -1px rgb(116,116,166, 0.14);
                        -moz-box-shadow: 0px 0px 5px -1px rgb(116,116,166, 0.14);
                        box-shadow: 0px 0px 5px -1px rgb(116,116,166, 0.14);
                        background: $picton_blue;
                    }
                }
                &:hover input ~ .input__radio_checkmark,
                &:focus input ~ .input__radio_checkmark {
                  border: 1px solid $picton_blue;
                }
            } 
        }
    }
    .form__select {
        &.form__select_with-dropdown-icon {
            position: relative;
            font-weight: 400;
            font-style: normal;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-grid;
            .input,
            .select {
                padding-right: 1vw;
                color: $boulder_gray;
            }
            i.fa-caret-down {
                pointer-events: none;
                cursor: default;
                position: absolute;
                line-height: 1vw;
                text-align: center;
                top: 0;
                right: 0;
                margin: 0;
                height: 100%;
                width: 2.5vw;
                opacity: .5;
                -webkit-border-radius: 0 .28vw .28vw 0;
                -moz-border-radius: 0 .28vw .28vw 0;
                border-radius: 0 .28vw .28vw 0;
                -webkit-transition: opacity .3s ease;
                -o-transition: opacity .3s ease;
                -moz-transition: opacity .3s ease;
                transition: opacity .3s ease;
                &::before {
                    right: 0;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    width: 100%;
                    margin-top: -.5vw;
                }
            }
        }
    }
    .form__button {
        border: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        &.form__button_block {
            display: block;
            width: 100%;
        }
        &.form__button_big {
            padding: 1vw;
            font-size: 1vw;
        }
        &.form__button_blue {
            background-color: $picton_blue;
            color: $regular_white;
            &:hover {
                background-color: $deep_picton_blue;
            } 
        }
    }
}

.input,
.select {
    font-size: .9vw;
    font-family: 'Source Sans Pro Regular', Helvetica, Arial, sans-serif;
    background-color: rgb(241, 241, 241, 0.21);
    border: 1px solid;
    border-color: rgba(53, 59, 80, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 1vw;
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.2vw;
    color: $regular_black;
    -webkit-border-radius: .28571429rem;
    -moz-border-radius: .28571429rem;
    border-radius: .28571429rem;
    -webkit-transition: border-color .1s ease,-webkit-box-shadow .1s ease;
    transition: border-color .1s ease,-webkit-box-shadow .1s ease;
    -o-transition: box-shadow .1s ease,border-color .1s ease;
    -moz-transition: box-shadow .1s ease,border-color .1s ease,-moz-box-shadow .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease,-moz-box-shadow .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
    &.input__date {
        color: $boulder_gray;
        cursor: default;
        &::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none;
        }
        &::-webkit-calendar-picker-indicator {
            cursor: pointer;
            background-color: transparent;
            color:rgba(204,204,204,0);
            &:hover {
                background-color: transparent;
            }
        }
    }
    &.input__checkbox {
        cursor: pointer;
        outline: 0;
        z-index: 3;
        width: 17px;
        height: 17px;
        overflow: visible;
    }
}
.input {
    height: 1vw;
}
.select {
    cursor: pointer;
    height: 3.2vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    -o-text-overflow: '';
    text-overflow: '';
    &::-ms-expand {
        display: none;
    }
}

.form__search-event_full {
    width: 32vw;
    .form {
        .form__body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr .1fr .7fr;
            grid-template-areas: "form__field__city form__field__city" "form__field__from form__field__to" "form__field__radio form__field__radio" "form__field__send form__field__send";
            grid-gap: 1vw;
            .form__field__city { grid-area: form__field__city; }
            .form__field__from { grid-area: form__field__from; }
            .form__field__to { grid-area: form__field__to; }
            .form__field__radio { grid-area: form__field__radio; }
            .form__field__send { grid-area: form__field__send; }
        }
    }
}
.form__footer_settings {
    .form {
        .form__body {
            display: grid;
            grid-template-columns: 8vw 8vw;
            grid-template-rows: 1fr;
            grid-template-areas: "form__field__language form__field__currency";
            grid-gap: 1vw;
            -webkit-box-pack: end;
            -webkit-justify-content: end;
            -moz-box-pack: end;
            -ms-flex-pack: end;
            justify-content: end;
            .form__field__language { grid-area: form__field__language; }
            .form__field__currency { grid-area: form__field__currency; }
        }
    }
}
.header {
    .header__logo {
        width: 9vw;
        &:hover {
            opacity: .8;
        }
    }
    .header__top {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        place-content: center end;
    }
}
.fa,
.fab {
    color: $regular_black;
    margin-right: .5vw;
    &.right {
        margin-left: .5vw;
    }
}
.item {
    &.item__city {
        .item__city__img {
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -webkit-box-shadow: inset 0px 1px 33px 0px rgb(0,0,0, 0.3);
            -moz-box-shadow: inset 0px 1px 33px 0px rgb(0,0,0, 0.3);
            box-shadow: inset 0px 1px 33px 0px rgb(0,0,0, 0.3);
            position: relative;
            -webkit-margin-after: .5vw;
            margin-block-end: .5vw;
            img {
                width: 100%;
                display: block;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                -webkit-box-shadow: inset 0px 1px 33px 0px rgb(0,0,0, 0.3);
                -moz-box-shadow: inset 0px 1px 33px 0px rgb(0,0,0, 0.3);
                box-shadow: inset 0px 1px 33px 0px rgb(0,0,0, 0.3);
            }
        }
        .item__city__titile {
            color: $oxford_blue;
        }
        .item__city__events {
            color: $picton_blue;
        }
        &:hover {
            .item__city__img {
                &::after {
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }
            }
            .item__city__titile {
                &:hover {
                    color: $shuttle_gray;
                }
            }
            .item__city__events {
                &:hover {
                    color: $deep_picton_blue;
                }
            }
        }
    }
}
body {
    margin: 0;
}
.container {
    .container__inner {
        padding: 1vw 4vw;
        .container__search-event {
            display: grid;
            grid-template-rows: initial;
            grid-template-columns: auto;
            grid-template-areas: initial;
            grid-auto-flow: row;
            grid-auto-rows: initial;
            grid-auto-columns: initial;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 6vw 0px 26vw;
        }
        .container__cities-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
            grid-gap: 2vw;
            -webkit-margin-before: 3vw;
            margin-block-start: 3vw;
            -webkit-margin-after: 3vw;
            margin-block-end: 3vw;
        }
    }
}
.grid {
    display: grid;
    grid-gap: 1vw;
    > div {
        padding: .5vw;
    }
}
a {
    text-decoration: none;
    &.blue {
        color: $picton_blue;
        &:hover {
            color: $deep_picton_blue;
        }
    }
    &.dark {
        color: $oxford_blue;
        &:hover {
            color: $shuttle_gray;
        }
    }
}
.navigation {
    display: grid;
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}
body {
    font-size: 1vw;
    font-family: 'Source Sans Pro Regular', Helvetica, Arial, sans-serif;
    color: $oxford_blue;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    &.h_center {
        text-align: center;
    }
}
.h1 {
    font-size: 2vw;
    -webkit-margin-before: 1vw;
    margin-block-start: 1vw;
    -webkit-margin-after: 1vw;
    margin-block-end: 1vw;
    -webkit-margin-start: 0;
    -moz-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    -moz-margin-end: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
.h2 {
    font-size: 1.5vw;
    -webkit-margin-before: 1vw;
    margin-block-start: 1vw;
    -webkit-margin-after: 1vw;
    margin-block-end: 1vw;
    -webkit-margin-start: 0;
    -moz-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    -moz-margin-end: 0;
    margin-inline-end: 0;
    font-weight: bold;
    &.h2_h1-style {
        font-size: 2vw;
    }
}